apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: bookify-server-monitor
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: bookify-server
  endpoints:
    - port: http
      path: /metrics
      interval: 10s
